@charset "UTF-8";
/* CSS Document */

.clear {
    display: none;
}

.theme-dkgray {
    background-color: #201f24;
    color: #fff;
}

@media only screen and (min-width: 1084px) {
.m-banner {
    max-width: 1000px !important;
}
}

.static96 {
    padding-top: 96px !important;
}
.m-banner {
    display: block;
    clear: both;
    text-align: center;
    float: none;
    max-width: 100%;
    margin: 0 auto;
}
@media only screen and (min-width: 1084px)
[class^="m-"] {
    padding-left: 0;
    padding-right: 0;
}
[class^="m-"] {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 48px;
}
[data-grid~="col-12"] {
    width: 100%;
}
[data-grid*="col-"] {
    float: left;
    min-height: 1px;
}
[data-grid~="container"], [data-grid*="col-"] {
    box-sizing: border-box;
    zoom: 1;
}